# -------------------------------
# Python
# -------------------------------
.venv
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# macOS
.DS_Store

# Audio output
out.opus

# -------------------------------
# Node / Frontend
# -------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / Dist
dist/
build/

# -------------------------------
# Editor / OS
# -------------------------------
*.swp
*.swo
.idea/
.vscode/
